@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.test-drive {
	*, *::before, *::after {
		box-sizing: inherit;
	}

	a {
		text-decoration: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.visually-hidden:not(:focus):not(:active),
	input[type="checkbox"].visually-hidden,
	input[type="radio"].visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	h1 {
		margin: 0;
		font-size: 36px;
		font-weight: 300;
		line-height: 1.69;
		color: #343434;
	}

	h2 {
		margin: 0;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.5;
		color: #343434;
	}

	h3 {
		margin: 0;
		font-size: 15px;
		font-weight: 400;
		line-height: 2;
		color: #4a4a4a;
	}

	h4 {
		margin: 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.92;
		color: #4a4a4a;
	}

	h5 {
		margin: 0;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 400;
		line-height: 2.4;
		color: #4a4a4a;
	}
}


.test-drive {
	margin-bottom: 200px;
	box-sizing: border-box;
	font-family: 'Ford Antenna', 'Tahoma', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	color: $black;
	background-color: #fff;
	min-width: 320px;
}

.test-drive__tabs {
	position: relative;
	z-index: 1;
	width: 100%;
	color: #4a4a4a;
	display: flex;
	flex-wrap: wrap;
	margin-top: -67px;
	// transform: translateY(-67px);
}

.test-drive__tab {
	width: calc(100% / 3);
	color: inherit;
	background-color: rgba(242, 242, 242, 0.9);
	border: 0;
	height: 63px;
	text-align: center;
	border-right: 1px solid #9D9B9C;
	cursor: pointer;
	transition: background-color .3s;

	&:last-child {
		border-right: 0;
	}

	svg {
		transform: translateY(4px);
		margin-right: 5%;
		fill: #343434;
	}
}

.test-drive__tab--active {
	color: #fefeff;
	background-color: $blue;

	svg {
		fill: #fefeff;
	}
}

.test-drive__content {
	animation: fadeEffect 1s;
	border-left: 1px solid #e9eaef;
	border-right: 1px solid #e9eaef;
}


.test-drive__slides {
	@include ul;
}

.test-drive__slide:focus {
	outline: none;
}

// slide 1!!!!!!!!!!!!!!!!!!!!!!!!!!!

.test-drive__slide--1 {
	h2 {
		text-align: center;
		margin: 27px 0 50px;
	}
}

.test-drive__radio-product-list {
	@include ul;
	margin-bottom: 66px;
	padding: 0 17%;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 30px;
}


.test-drive__radio-product-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	label {
		position: relative;
		padding-left: 37px;
		margin-bottom: 16px;
		font-size: 12px;
		line-height: 23px;
		order: 2;
		cursor: pointer;
	}

	input[type="radio"]:checked ~ .test-drive__radio-product-item-img img {
		filter: none;
	}

	.test-drive__radio-product-item-img {
		margin-bottom: 15px;
		width: 100%;
		order: 1;
	}

	img {
		filter: brightness(20%);
		transition: filter .5s;
	}


	label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 2px solid #e6e6e6;
	}

  label::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $blue;
    border: 4px solid #e6e6e6;
    transform: scale(0);
    transition: transform .2s;
	}

  input:checked + label::after {
    transform: scale(1);
  }
}




// slide 2!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.test-drive__slide--2 {
	h2 {
		margin: 0;
		margin-bottom: 45px;
		text-align: center;
	}
}

.test-drive__selected-img {
	margin: 50px 0 10px;
	text-align: center;
	filter: brightness(20%);

	img {
		display: inline;
	}
}

.test-drive__radio-city-list {
	@include ul;
	padding: 0 15%;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.test-drive__radio-city-item {
	padding: 15px;
	flex-grow: 1;

	label {
		position: relative;
		display: block;
		padding: 23px;
		padding-right: 63px;
		border: 1px solid #e6e6e6;
		cursor: pointer;
	}

	span {
		display: block;
		margin-bottom: 10px;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.5;
		text-align: left;
		color: #9b9b9b;
	}

	strong {
		display: block;
		font-size: 12px;
		line-height: 23px;
		font-weight: 600;
		color: #9b9b9b;
	}

	input:checked + label {
		padding: 20px;
		padding-right: 60px;
		border-color: transparent;
		border: 4px solid $blue;
	}

	input:checked + label span,
	input:checked + label strong {
		color: $black;
	}

	input:checked + label::after {
		content: url('../img/icon-check.svg');
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}


// slide 3!!!!!!!!!!!!!!!!!!!!!!!!!

.test-drive__radio-object-list {
	@include ul;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.test-drive__radio-object-item {
	padding: 20px 4%;
	display: flex;
	align-items: center;

	label {
		position: relative;
		padding-left: 37px;
		font-size: 12px;
		line-height: 23px;
		order: 2;
		cursor: pointer;
	}

	label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 2px solid #e6e6e6;
	}

  label::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 1px;
    width: 24px;
    height: 24px;
    background-color: $blue;
    border: 4px solid #e6e6e6;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .2s;
	}

  input:checked + label::after {
    transform: scale(1);
  }
}

.test-drive__input-list {
	@include ul;
	margin-bottom: 30px;
	padding: 0 17%;
	display: grid;
	grid-template-columns: 48% 48%;
	grid-gap: 20px 4%;
}

.test-drive__input-item {
	input {
		display: block;
		padding: 14px 20px 12px;
		width: 100%;
		color: #4a4a4a;
		border: 1px solid $gray;
	}
}

.test-drive__input-item--phone {
	margin: 0 -5px;
	display: flex;
	align-items: center;

	input {
		margin: 0 5px;
	}

	input:first-of-type {
		width: 30%;
	}

	input:last-of-type {
		width: 70%
	}
}




.test-drive__radio-send-type-block,
.test-drive__radio-privacy-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 17%;
	padding: 28px 0;
	border-top: 1px solid #DFDFE0;

	.test-drive__radio-send-type-title,
	.test-drive__radio-privacy-title {
		padding-right: 20px;
		color: $black;

		a {
			color: $blue;
		}
	}
}

.test-drive__radio-privacy-block {
	margin-bottom: 20px;
}

.test-drive__radio-send-type-list,
.test-drive__radio-privacy-list {
	@include ul;
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.test-drive__radio-send-type-item,
.test-drive__radio-privacy-item {
	margin-left: auto;
	padding-left: 20px;

	label {
		position: relative;
		padding-left: 40px;
		font-size: 14px;
		line-height: 23px;
		cursor: pointer;
	}

	label::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 2px solid #e6e6e6;
	}

  label::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 1px;
    width: 24px;
    height: 24px;
    background-color: $blue;
    border: 4px solid #e6e6e6;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .2s;
	}

  input:checked + label::after {
    transform: scale(1);
  }
}


// slide 4!!!!!!!!!!!!!!!!!!!!!!!!!
.test-drive__slide--4 {

	h2 {
		margin: 32px 0 30px;
		text-align: center;
	}
}

.test-drive__datetimepicker-wrapper {
	padding: 0 8.5%;
	margin-bottom: 40px;
	text-align: center;
	font-family: 'Ford Antenna', 'Tahoma', sans-serif;
}


// custom datetimepicker style

.xdsoft_datetimepicker {
	padding-left: 30px !important;
	padding-top: 15px !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_calendar th {

	border: none !important;
	height: 36px !important;
	padding: 0 15px !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td {
	font-size: 15px !important;
	color: #4a4a4a !important;
	background-color: #fff !important;

	&.xdsoft_disabled {
		text-decoration: line-through;
	}
}

.xdsoft_datetimepicker .xdsoft_calendar th {
	text-transform: uppercase;
	line-height: 23px;
	color: #4a4a4a !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
	font-size: 15px !important;
	height: 32px !important;
	line-height: 32px !important;
	background-color: #fff !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
	height: 240px !important;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
	margin-left: 0 !important;
	width: auto !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
	color: #fff !important;
	background-color: #0478BC !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker {
	width: 70px !important;
	margin: 9px 22px 0 30px !important;
}

.test-drive__datetimepicker-wrapper .xdsoft_datetimepicker .xdsoft_calendar td:hover, .test-drive__datetimepicker-wrapper .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
	background-color: $green !important;
}

.test-drive__datetimepicker-wrapper .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box .xdsoft_scroller {
	background: #0478BC !important;
}



// slide 5!!!!!!!!!!!!!!!!!!!!!!!!!

.test-drive__slide--5 {
	h2 {
		margin-bottom: 30px;
		text-align: center;

		strong {
			font-weight: 700;
		}
	}

	input {
		display: block;
		margin: 0 auto;
		max-width: 350px;
		padding: 14px 20px 12px;
		width: 100%;
		color: #4a4a4a;
		border: 1px solid $gray;
	}
}

.test-drive__slide-wrapper {
	padding: 10% 17%;
}


// slide 6!!!!!!!!!!!!!!!!!!!!!!!!!
.test-drive__slide--6 {
	h2 {
		text-align: center;

		strong {
			font-weight: 700;
		}
	}
}

.test-drive__slide-check-img {
	text-align: center;
	margin-bottom: 20px;

	img {
		display: inline;
	}
}


// end of slides








//start of next and previous buttons
.test-drive__arrows {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.slick-arrow {
		height: 52px;
		padding: 20px 0;
		border: 0;
		text-align: center;
		cursor: pointer;
	}

	.slick-arrow.slick-disabled {
		cursor: not-allowed;
	}

	.slick-prev {
		width: 35%;
		color: $gray;
		background: $white url('../img/icon-arrow-left.svg') left 25px center no-repeat;
	}

	.slick-next {
		width: 65%;
		color: #fff;
		background: $blue url('../img/icon-arrow-right.svg') right 25px center no-repeat;
	}
}
// end of next and previous buttons


//start of dots

.test-drive__dots {
	position: relative;
	margin-bottom: 10px;
	padding: 40px 7%;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
}

.test-drive__dots-list {
	@include ul;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;


	li:last-child {
		display: none;
	}

	li {
		position: relative;
		z-index: 1;
		width: 100px;
		text-align: center;

		button {
			position: relative;
			width: 64px;
			height: 64px;
			border-radius: 50%;
			color: $gray;
			font-size: 24px;
			background-color: #fff;
			border: 1px solid #e6e6e6;

			&:focus {
				outline: none;
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 64px;
				height: 64px;
				background-color: #fff;
				border-radius: 50%;
				border: 4px solid $blue;
				transform: translate(-50%, -50%);
				transition: all .2s;
			}

			&::after {
				content: url('../../img/icon-check.svg');
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&::after {
			position: absolute;
			bottom: -30px;
			left: 50%;
			width: 100%;
			font-size: 12px;
			line-height: 23px;
			color: $black;
			transform: translateX(-50%);
		}

		&:nth-child(1)::after {
			content: 'Yeni Kuga';
		}

		&:nth-child(2)::after {
			content: 'İstanbul';
		}

		&:nth-child(3)::after {
			content: 'Kişisel Bilgiler';
		}

		&:nth-child(4)::after {
			content: 'Onay';
		}

		&:nth-child(5)::after {
			content: 'Sonuç';
		}
	}

	.slick-active::after {
		color: $gray;
	}

	.slick-active ~ li::after {
		color: $gray;
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		width: 90%;
		height: 1px;
		background-color: #DFDFE0;
		transform: translate(-50%, -50%);
	}

	.slick-active {
		button {
			color: #fff;
			background-color: $blue;
			border: 4px solid #e6e6e6;

			&::before,
			&::after {
				content: '';
				width: 0;
				height: 0;
				border: 0;
			}
		}
	}

	.slick-active ~ li {

		button::before,
		button::after {
			content: '';
			width: 0;
			height: 0;
			border: 0;
		}
	}
}
//end of dots

@media (max-width: 900px) {
	.test-drive__radio-send-type-block,
	.test-drive__radio-privacy-block {
		display: block;

		.test-drive__radio-send-type-title,
		.test-drive__radio-privacy-title {
			margin-bottom: 20px;
		}
	}
}


@media (max-width: 720px) {
	.test-drive__tab {
		font-size: 12px;

		svg {
			display: none;
		}
	}

	.xdsoft_datetimepicker {
		padding: 0 !important;
	}

	.xdsoft_datetimepicker .xdsoft_calendar td,
	.xdsoft_datetimepicker .xdsoft_calendar th {
		height: 25px !important;
		padding: 0 !important;
	}

	.xdsoft_datetimepicker .xdsoft_calendar td {
		font-size: 12px !important;
	}

	.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
		font-size: 12px !important;
		height: 24px !important;
		line-height: 24px !important;
	}

	.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
		height: 190px !important;
	}

	.xdsoft_datetimepicker .xdsoft_timepicker {
		margin: 9px 0 0 8px !important;
	}

	.xdsoft_time_box {
		border-right: 0 !important;
	}

	.xdsoft_datetimepicker .xdsoft_timepicker {
		width: 50px !important;
	}


	.test-drive__dots-list {

		&::before {
			height: 0;
		}

		li {
			width: auto;

			&::after {
				content: '' !important;
			}

			button {
				width: 44px;
				height: 44px;
			}

			button::before {
				width: 44px;
				height: 44px;
			}
		}
	}

	.test-drive__arrows {

		.slick-arrow {
			height: 52px;
			padding: 20px 0;
			border: 0;
			text-align: center;
			cursor: pointer;
		}

		.slick-arrow.slick-disabled {
			cursor: not-allowed;
		}

		.slick-prev {
			font-size: 0;
			width: 24%;
		}

		.slick-next {
			width: 76%;
		}
	}

	.test-drive__radio-product-list {
		margin-bottom: 40px;
		padding: 0 5%;
		grid-template-columns: auto auto;
	}

	.test-drive__radio-city-list {
		padding: 0 5%;
		margin-bottom: 30px;
		display: block;
	}

	.test-drive__radio-send-type-list,
	.test-drive__radio-privacy-list {
		display: block;
	}

	.test-drive__input-list {
		display: block;
		padding: 0 5%;
	}

	.test-drive__input-item {
		margin-bottom: 10px;

		input {
			padding: 14px 10px 12px;
			font-size: 14px;
		}
	}

	.test-drive__datetimepicker-wrapper {
		padding: 0;
	}

	.test-drive__radio-send-type-block,
	.test-drive__radio-privacy-block {
		margin: 0 5%;
	}
}
