$blue: #3476B7;
$lightBlue: #4993C8;
$darkBlue: #172A4C;
$black: #343434;
$gray: #9B9B9B;
$white: #F2F2F2;
$red: #C83F27;
$green: #1E9562;


@font-face {
    font-family: 'Ford Antenna';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Ford Antenna Regular'), local('FordAntenna-Regular'),
       url('../fonts/FordAntenna-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Ford Antenna';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Ford Antenna Light'), local('FordAntenna-Light'),
       url('../fonts/FordAntenna-Light.woff') format('woff');
}



*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@mixin ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.69;
	color: #343434;
}

h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
	color: #343434;
}

h3 {
	margin: 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 2;
	color: #4a4a4a;
}

h4 {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.92;
	color: #4a4a4a;
}

h5 {
	margin: 0;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	line-height: 2.4;
	color: #4a4a4a;
}

// .btn {
// 	display: inline-block;
// 	vertical-align: top;
// 	text-align: center;
// 	padding: 7px 14px;
// 	font-size: 12px;
// 	line-height: 15px;
// 	color: #fff;
// 	border-radius: 4px;
// 	background-color: $blue;
// 	transition: background-color .2s;
// 	border: none;
// 	cursor: pointer;

// 	&:hover,
// 	&:focus {
// 		background-color: $violet;
// 	}
// }

// .link {
// 	color: $blue;

// 	&:hover,
// 	&:focus {
// 		color: $violet;
// 	}
// }
